#banner
  .banner_content
    %h1 Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organized
        %p Semiotics cardigan scenester craft beer taxidermy you probably haven't heard of them. Pitchfork sustainable drinking vinegar tilde, yuccie synth blue bottle helvetica poutine. Taxidermy cold-pressed tofu chia echo park. Authentic bespoke before they sold out tofu selvage pug. Dreamcatcher whatever etsy intelligentsia readymade. Swag kombucha crucifix, lumbersexual brunch knausgaard sustainable everyday carry four dollar toast vinyl raw denim pabst biodiesel. Brooklyn cred irony church-key, typewriter retro wayfarers synth echo park wolf.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
